# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sqlite3
tsconfig.*.tsbuildinfo

# TypeScript build outputs inside source tree
db/**/*.js
db/**/*.d.ts
server/**/*.js
server/**/*.d.ts
src/**/*.js
src/**/*.d.ts

# Secrets and environment variables
.env
